# C
*.o
*.a
server/minidbms-server
storage-engine/migrate
storage-engine/tests/test_*

# Python
__pycache__/
*.pyc
sql-engine/parsetab.py
sql-engine/parser.out

# Datos
data/*.dbgui-app/results/
data/*.db
data/opt_trace.txt
storage-engine/disk
